.header {
    background-color: #ebebeb;
    padding-top: 45px;
    padding-left: 50px;
    padding-bottom: 60px;
}

#cart {
    position: absolute;
    top: 35px;
    right: 50px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: solid;
    background-color: white;
    font-weight: bold;
    color: black;
    border-color: #e3e3e3;
}

.container {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.prdt_tag {
    border: solid;
    border-color: #e3e3e3;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.name {
    font-size: 30px;
}

.price,
.stock,
.desc {
    margin-top: 10px;
    width: 300px;
}

.detailbtn {
    background-color: #1E90FF;
    border: none;
    font-weight: bold;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

.orderbtn {
    background-color: #fbb93b;
    border: none;
    font-weight: bold;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}